src/main/mule/repo2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2d1130fb-aede-4d71-a402-2f63ba2fe5d4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="repo2Flow" doc:id="2b8883d8-56c5-49dc-b468-66d628e401fb" >
		<http:listener doc:name="Listener" doc:id="a3ea2fb5-0e7c-4461-a56b-81eecaeee139" config-ref="HTTP_Listener_config" path="/path"/>
		<logger level="INFO" doc:name="Logger" doc:id="96af8c2a-3d04-47dc-8709-266b0e6e1daa" message="#[payload]"/>
	</flow>
</mule>
